{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 100,
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": true,
    "arrowParens": "avoid",
    "react/jsx-max-props-per-line": [2, { "maximum": 1, "when": "multiline" }]
  }
  